* {
    margin: 0;
    box-sizing: border-box;
}

body {
    opacity: .5;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1400px;
    gap: 13px;
}

.container>* {
    background-color: lightblue;
    font-size: 10rem;
    color: blue;
    border: 2px dashed blue;
    flex-basis: 200px;
    flex-grow: 1;
    height: 200px;
}

.box1 {
    flex-grow: 1;
    flex-basis: 1000px;
}

.box2 {
    flex-grow: 1;
    flex-basis: 1000px;
}

.box3 {
    flex-basis: 600px;
}

.box4 {
    flex-grow: 1;
    flex-basis: 400px;
}

.box5 {
    flex-basis: 500px;
}

.box6 {
    flex-basis: 500px;
}