body {
    font-family: sans-serif;
}

#header {
    background-color: dimgray;
    height: 4rem;
    border-bottom: 3rem LightSeaGreen;
}

* {
    margin: 0;
}

#about {
    display: flex;
}

#about img{
    height: 23.5rem;
}

#about h3 {
    width: 10rem;
    margin: 0 auto;
}

h1 {
    font-size: 1.5rem;
    color: white;
}

#title {
    height: 31rem;
    background-color: lightgray;
    text-align: center;
}

h3 {
    text-align: center;
    color: LightSeaGreen;
    width: 18rem;
    margin: 0 auto;
    padding-top: 1.5rem;
}

#fav {
    display: flex;
    justify-content: space-evenly
}